<div class="row d-flex justify-content-center" *ngIf="!cargando">
<div class="col-4">


<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
           
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
     
    </ng-template>
  </ngb-carousel>
</div>
<div class="col-6">
    <h5>{{producto.nombre}}</h5>
    <small>{{producto.precio}}</small>
    <p>{{producto.descripcion}}</p>
    <form (ngSubmit)="agregarAlCarrito()" #formdetalle="ngForm">
        <div class="form-row">
            <div class="col">
                <label for="exampleFormControlSelect1">Talle</label>
                <select placeholder="Talle" class="form-control" id="exampleFormControlSelect1">
                  <option>37</option>
                  <option>38</option>
                  <option>39</option>
                  <option>40</option>
                  <option>41</option>
                </select>

            </div>
            <div class="col">
                <label for="cantidad">Cantidad</label>

            <input type="number" class="form-control" required [(ngModel)] ="ordenProductoDto.cantidad" name="cantidad" placeholder="Cantidad">                

            </div>
        
          </div>
          <button class="btn btn-primary mt-2"   type="submit"  [disabled]="!formdetalle.form.valid"  >Agregar al carrito</button>



    </form>
</div>


</div>
<app-spinner  *ngIf="cargando"></app-spinner>

