<div class="container">
<ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
    <li ngbNavItem [ngbNavItem]="1">
      <a ngbNavLink>Tienda</a>
      <ng-template ngbNavContent><app-producto (irA)="procesar($event)"></app-producto></ng-template>
    </li>
    <li ngbNavItem [ngbNavItem]="2">
      <a ngbNavLink>Mi carrito</a>
      <ng-template ngbNavContent><app-carrito></app-carrito></ng-template>
    </li>
    
  </ul>
  <div [ngbNavOutlet]="nav" class="d-flex justify-content-center"></div></div>
  