
<div  *ngIf="!verDetalle">

<div class="row row d-flex justify-content-end" *ngIf="logeado">
    <div class="col-3">
        <button class="btn btn-link" (click)="salir()">Cerrar sesion</button>

    </div>
</div>
<h3>Productos destacados</h3><br>
<div class="row">
<div class="col">
<div class="card-deck">
   
    <div *ngFor="let producto of listaproducto; index as i">
       
        <app-item url={{imagenes[i]}} nombre={{producto.nombre}} descripcion="¡A solo {{producto.precio}}!" categoria={{producto.categoria}} (verMas)="mostrarDetalle(producto)"></app-item>
         </div>
    </div>
 
      
</div>
</div>
</div>
<div *ngIf="verDetalle" class="d-flex justify-content-center mt-3" >
    <app-detalle-item [producto]="productoSeleccionado" (irA)="procesarEvento($event)"></app-detalle-item>
</div>
