<div class="container p-4">
            
    <form (ngSubmit)="onSubmit()" #formregistro="ngForm" *ngIf="!cargando">
        <p style="text-align: center;">Ingresar</p>
                
    
    <div class="form-group">
        <label for="email">Correo electronico</label>
        <input required [(ngModel)] = "loginDto.username"  name="email" type="email" class="form-control" id="email">
        
    
    </div>
    <div class="form-group">
        <label for="pass">Contraseña</label>
        <input required [(ngModel)] = "loginDto.password"  name="password" type="password" class="form-control" id="pass">
        
    </div>
   <ngb-alert [type]="'warning'" *ngIf="error">Nombre de usuario o contraseña incorrectos</ngb-alert>
  
    
    <button type="submit" class="btn btn-success" [disabled]="!formregistro.form.valid">Entrar</button>
    </form>
    <app-spinner *ngIf="cargando"></app-spinner>   
    
    </div>
    
