.titulo{
   
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }