<div class="card" style="width:270px; height: 550px;">
    <img class="card-img-top img-fluid" src={{url}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{nombre}}</h5>
      <p class="card-text">{{descripcion}}</p>
      <button class="btn btn-primary"  (click)="enviarEvento(true)" >Ver mas</button>
    
    </div>
    <div class="card-footer">
      <small class="text-muted">{{categoria}}</small>
    </div>
  </div>