<div class="container" *ngIf="productos.length >0 && compraFinalizada==0">
  <div class="row row d-flex justify-content-end" *ngIf="logeado">
    <div class="col-3">
        <button class="btn btn-link" (click)="salir()">Cerrar sesion</button>

    </div>
</div>
  <div class="row" *ngIf="this.ordenDto.cliente">
    <div class="col m-3">
    Hola {{this.ordenDto.cliente.nombre}} {{this.ordenDto.cliente.apellido}}
</div>
</div>
<div class="row">
    <div class="col">
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope ="col"> Quitar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of productos; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img [src]="'/assets/nike97.jpeg'" class="mr-2" style="width: 20px">
        {{ item.producto.nombre }}
      </td>
      <td>${{ item.producto.precio | number }}</td>
      <td>{{ item.cantidad | number }}</td>
      <td><button type="button" class="btn btn-link" (click)="eliminarProducto(i,item.id)"> Eliminar </button></td>
    </tr>
    </tbody>
  </table>
 
</div>
</div>
<div class="row d-flex justify-content-end">
    <div class="col">
        <p>Sub Total : {{subTotal}}</p><br>
        <p>Descuento  : {{descuento}}</p> <br>
        <p *ngIf="usuarioVip"> Descuento por usuario vip</p>
        <p *ngIf="promocion && !usuarioVip"> Descuento por promocion </p>
        <p>Total :{{total}}</p>   <br>  
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col">
    <button class="btn btn-primary btn-lg" (click)="finalizarCompra()">Finalizar compra </button>
    </div>
</div>
</div>
<h5 *ngIf="productos.length==0 && compraFinalizada==0" class="mt-5"> Aun no agregaste productos al carrito</h5>
<h5 *ngIf="compraFinalizada==1" class="mt-5"> ¡Gracias por la compra!</h5>
<ngb-alert *ngIf="compraFinalizada ==2" [type]="'success'">¡Ahora sos usuario VIP!</ngb-alert>